<!DOCTYPE html>
<html>
   
   <head>
        <style>
		  
		   *{
		   
		     list-style:none;
		   }
		 
		</style>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	    <script>
             

            function getUserList(uId,rese){
			   $("#"+uId).show(); 
			   var url = "http://192.168.34.235:8080/getUserList?callback=?";
		       $.getJSON(url,function(data){
			         console.info(data); 
                     if(data.state == "success"){
					 
					    
						var list = eval("("+data.userList+")");
						
						var str = "";
						var obj = document.getElementById(uId);
						
						for(var i=0;i<list.length;i++){
						   str += "<li id="+list[i].id+" onclick='setName(this,\""+rese+"\")'>"+list[i].name+"</li>"
					    }
						
						obj.innerHTML = str;
					 
					 }        
			    });
			       
			
			}
			
			function setName(obj,rece){
			      var receObj   =  document.getElementById(rece);
			      receObj.value = obj.innerHTML;
                  receObj.nextSibling.nextSibling.value = obj.id;
                  console.log("ddddddddddd"+receObj.nextSibling.value);   				  
            }
			
			function check(obj){
			   if(obj.value == 1){
			        //去服务端调用 群组列表 
			        var url = "http://192.168.34.235:8080/getGroupList?callback=?";
		            $.getJSON(url,function(data){
			         console.info(data); 
                     if(data.state == "success"){
					 
					    
						var list = eval("("+data.groupList+")");
						
						var str = "";
						var obj = document.getElementById("group");
						
						for(var i=0;i<list.length;i++){
						   
						   str += "<li><input type='checkbox' name='groupId' value="+list[i].id+"><input type='hidden' name='groupName' value="+list[i].name+">"+list[i].name+"</li>"
					       
						}
						
						obj.innerHTML = str;
					 
					 }        
			      });  
			   }
			
			}
			
			function cdd(obj){
			    $("#"+obj).hide();
			}
			
		 </script>	   
   </head>   
   <body>
       
        <p>消息发送</p>
        <form action="http://192.168.34.235:8080/addMessage" method="post">  
             <div>
			    接收人:<input id="recevier" type="text" name="recevier" onclick="getUserList('listObj','recevier')"></input>
                       <input id="recevierId" type="hidden" name="recevierId" value=""></input><input type="button" value="关闭" onclick='cdd("listObj")'>
					   <ul id="listObj"></ul>   					   
			 </div>
			 <div>
			    消息标题:<input type="text" name="title" ></input> 
			 </div>
			 <div>
			    消息正文:<textarea  name="content" rows="10" cells="100" ></textarea>
			 </div>
			 <div>
			    发布者信息:<span></span>
				<input id="sender" type="text" name="sender" onclick="getUserList('listS','sender')"></input>
				<input id="senderId" type="hidden" name="senderId" ></input><input type="button" value="关闭" onclick='cdd("listS")'>
                <ul id="listS"></ul> 
			 </div>
			 <div>
			    类型: 
				  <input type="radio" name="type" value="0" onclick="check(this)"/>个人
				  <input type="radio" name="type" value="1" onclick="check(this)"/>群组
				  <input type="radio" name="type" value="2" onclick="check(this)"/>部门
			 </div>
			 <!--用于显示群列表-->
			 <ul id="group">
			     
			 </ul>
			 <div>
			    <input type="submit" value="发送"></input> 
			 </div>
        </form>
   </body>
</html>
